
.featurecontainer{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  .heading{
    h1{
      font-family: 'Century Gothic';
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 66px;
      text-align: center;

      color: #2B2B2B;
    }
  }
  .featurebody{
    .row{
      margin-bottom: 40px;
    }
    .left{
      width: 50%;
      padding: 10px;
      img{
        width: 400px;
        height: 200px;
      }
    }
    .right{
    
      padding: 10px;
      width: 50%;
      h4{
        text-align: start;
        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;

        color: #2B2B2B;


      }
      p{
       
      font-family: 'Century Gothic';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;

      color: #2B2B2B;


      }
    }
  }
}

@media (max-width: 768px) {
  .featurecontainer {
    .featurebody {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .card {
        flex-basis: 100%;
      }
    }
  }
}