
.featurecontainer{
  margin-top: 50px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .heading{
    h1{
      text-align: center;
    }
  }
  .featurebody{
    display: flex;
    flex-direction: row;
      gap: 10px;
      flex-wrap: wrap;
      justify-content:space-around;
  }
}

@media (max-width: 768px) {
  .featurecontainer {
    .featurebody {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .card {
        flex-basis: 100%;
      }
    }
  }
}