
.featurecontainer{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  .heading{
    h1{
      font-family: 'Century Gothic';
      font-style: normal;
      font-weight: 700;
      font-size: 54px;
      line-height: 66px;
      text-align: center;

      color: #2B2B2B;


    }
  }
  .featurebody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .left{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      gap: 5px;
      img{
        width: 400px;
        height: 300px;
      }
    }
    .right{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      gap: 5px;
      h4{
        text-align: start;
        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;

        color: #2B2B2B;


      }
      p{
      
  word-spacing: auto;
  letter-spacing: normal;
        display: inline-block;
        text-align: justify;
        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 184.61%;
        text-align: center;

        color: #2B2B2B;


      }
    }
  }
}
@media (max-width: 991px) {
  .featurebody{
    .row{
      .left{
        img{
          width: 300px;
          height: 200px;
        }
      }
      .right{
        h4{
          font-weight: 500;
          font-size: 30px;
          line-height: 30px;
        }
        p{
          font-weight: 300;
          font-size: 15px;
          line-height: 150.61%;
         
         
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .featurecontainer {
  .heading{
      h1{
       font-weight: 500;
        font-size: 40px;
        line-height: 50px;
    }
  }
    .featurebody {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
     .row{
      .left{
        img{
          width: 200px;
          height: 150px;
        }
      }
      .right{
        h4{
          font-weight: 300;
          font-size: 22px;
          line-height: 30px;
        }
        p{
          font-weight: 200;
          font-size: 15px;
          line-height: 150.61%;
         
         
        }
      }
    }
    }
  }
}



@media screen and (max-width: 575px) {
  .under {
    order: 1; 
    flex-basis: 100%; 
  }

  .upper {
    order: 2; 
    flex-basis: 100%; 
  }
}



