
.featurecontainer{
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin: 0px;
  border-radius: 73px 73px 0px 0px;

  .heading{
    h4{
      font-family: 'Century Gothic';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      text-align: center;

      color: #2B2B2B;


    }
  }
  .featurebody{
    display: flex;
    flex-direction: row;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: space-between;

    .row{
      .cards{
        padding: 10px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        h4{
          font-family: 'Century Gothic';
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 184.61%;
          /* or 52px */
          text-align: center;

          color: #2B2B2B;
        }
        p{
          font-family: 'Century Gothic';
          font-style: normal;
          font-weight: 400;
          font-size: 23px;
          line-height: 184.61%;
          /* or 42px */
          text-align: center;

          color: #2B2B2B;
        }
        img{
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}
@media (max-width: 989px) {
  .featurecontainer {
    .featurebody {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
     .row{
      .card{
         h4{
         
          font-weight: 600;
          font-size: 25px;
          line-height: 150.61%;
         
        }
        p{
        
          font-weight: 300;
          font-size: 20px;
          line-height: 150.61%;
       
        }
      img{
          width: 250px;
        height: 250px;
      }
      }
     }
    }
  }
}

@media (max-width: 767px) {
  .featurecontainer {
    .featurebody {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .row{
       .cards{
         h4{
         
          font-weight: 600;
          font-size: 25px;
          line-height: 150.61%;
         
        }
        p{
        
          font-weight: 300;
          font-size: 20px;
          line-height: 150.61%;
       
        }
      img{
          width: 200px;
          height: 200px;
      }
    }
    }
    }
  }
}
