


.usersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #FCBA4D;
  padding: 20px;
}

.Auth-form {
  
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}
#overflow {
  height: 350px;
  display:block;
  overflow-y: scroll;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}
.Auth-form-content{
  input{
       background-color: #e1eaf0;
  }
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

@media(min-width:530px){
  .Auth-form {
    width: 420px;
  }
}

//login banner 

.loginsection{
  display: flex;
  flex-direction: column;
}

.loginbaner{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #369FE4;
  width: 100%;
  h4{
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    color: #2C2C2C;
    .question{
      color: #FF0B80;
    }
    .kit{
      color: #0b334e;
    }
  }
  P{
    width: 60%;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150.61%;
    /* or 55px */
    text-align: center;
    color: #2B2B2B;
  }
  button{
      background: #FF0B80;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      font-family: 'Century Gothic';
      font-style: normal;
      font-weight: 700;
      font-size: 29px;
      line-height: 36px;
      color: #FFFFFF;
      padding: 0px 20px;
      border-radius: 20px;
  }
  img{  
      width: 500px;
      height: 200.62px;
  }
}

@media(max-width:700px){
  .loginsection{
    .loginbaner{
      h4{
         font-weight: 500;
          font-size: 34px;
          line-height: 40px;
      }
       P{
      
        font-weight: 400;
        font-size: 20px;
        line-height: 150.61%;
  
      }
      button{
         font-weight: 400;
        font-size: 20px;
        line-height: 36px;
      }
    }
  }
}
@media(max-width:550px){
  .loginsection{
    .loginbaner{
      img{
         width: 320px;
         height: 200.62px;
      }
    }
  }
}

@media(min-width:850px){
  .loginsection{
    .loginbaner{
      img{
         width: 800px;
         height: 400.62px;
      }
      h4{
         font-weight: 700;
          font-size: 64px;
          line-height: 50px;
      }
       P{
      
        font-weight: 500;
        font-size: 40px;
        line-height: 150.61%;
  
      }
      button{
         font-weight: 500;
         padding: 5px 15px;
        font-size: 40px;
        line-height: 36px;
      }
    }
  }
  .usersContainer{
    .Auth-form{
      width: 800px;
      height: 420px;
    }
    .Auth-form-content{
      button{
        margin-top: 20px;
      }
    }
  }
}