h4{
            font-family: 'Century Gothic';
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 180.61%;
          /* or 52px */
          text-align: center;
          color: #2B2B2B;
}
h3{
        font-family: 'Century Gothic';
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 180.61%;
          /* or 52px */
          text-align: center;
          color: #2B2B2B;
}
p{

font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 180.61%;
text-align: center;
color: #2B2B2B;


}